<%- include('partials/html_header') %>
<div class="container mt-5">
    <h2>Załóż konto</h2>
    <form action="/register" method="POST" class="w-50 mx-auto">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Zarejestruj się</button>
    </form>
</div>
<%- include('partials/html_footer') %>
